<%- include('partials/header'); -%>

<div class="palak">
  <img src="https://media.istockphoto.com/photos/palak-paneer-or-spinach-and-cottage-cheese-curry-on-a-dark-background-picture-id1146291429?k=20&m=1146291429&s=612x612&w=0&h=qxIAJgcDlqCc7MfawkRQF7axtJcJaytCAgcvaCq8Kao=" alt="">
  <h1>Palak Paneer</h1>
  <h3>Ingredients</h3>
  <ul>
    <li>tomates</li>
    <li>tomates</li>
    <li>tomates</li>
    <li>tomates</li>
    <li>tomates</li>

    <li>tomates</li>
    <li>tomates</li>

  </ul>

  <h3>directions</h3>
  <ol>
    <li>Heat up the food</li>
    <li>Heat up the food</li>
    <li>Heat up the food</li>
    <li>Heat up the food</li>
    <li>Heat up the food</li>

  </ol>

</div>

<%- include('partials/footer'); -%>
