<%- include('partials/header'); -%>

<h1>Recipes</h1>

<section>
  <div class="appy">
    <h3>Appitizers</h3>

  </div>
</section>

<section>
  <div class="main">
    <h3>Main Dishes</h3>

  </div>
</section>

<section>
  <div class="des">
    <h3>Dessserts</h3>

  </div>
</section>































<%- include('partials/footer'); -%>
